
 <!--Services Section 

    <section id="Vedtægter" class="bg-darkest-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Vedtægter</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">E-Commerce</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Responsive Design</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Web Security</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
            </div>
        </div>
    </section>
--> 
    <section id="Vedtægter" class="bg-darkest-gray py-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-white">Vedtægter</h2>
                    <h3 class="section-subheading text-muted">Her finder du klubbens vedtægter</h3>
                </div>
            </div>
            
            <div class="row">
                <!-- Første kolonne -->
                <div class="col-md-6">
                    <ul class="list-unstyled">
                        <li class="vedtaegt-text">
                            <span class="text-primary">§</span> Vedtægt 1 - Beskrivelse af vedtægt 1 
                        </li><br>
                        <li class="vedtaegt-text">
                            <span class="text-primary">§</span> Vedtægt 2 - Beskrivelse af vedtægt 2
                        </li><br>
                        <li class="vedtaegt-text">
                            <span class="text-primary">§</span> Vedtægt 3 - Beskrivelse af vedtægt 3
                        </li><br>
                        <li class="vedtaegt-text">
                            <span class="text-primary">§</span> Vedtægt 4 - Beskrivelse af vedtægt 4
                        </li><br>
                        <li class="vedtaegt-text">
                            <span class="text-primary">§</span> Vedtægt 5 - Beskrivelse af vedtægt 5
                        </li>
                    </ul>
                </div>

                <!-- Anden kolonne -->
                <div class="col-md-6">
                    <ul class="list-unstyled">
                        <li class="vedtaegt-text">
                            <span class="text-primary">§</span> Vedtægt 6 - Beskrivelse af vedtægt 6
                        </li><br>
                        <li class="vedtaegt-text">
                            <span class="text-primary">§</span> Vedtægt 7 - Beskrivelse af vedtægt 7
                        </li><br>
                        <li class="vedtaegt-text">
                            <span class="text-primary">§</span> Vedtægt 8 - Beskrivelse af vedtægt 8
                        </li><br>
                        <li class="vedtaegt-text">
                            <span class="text-primary">§</span> Vedtægt 9 - Beskrivelse af vedtægt 9
                        </li><br>
                        <li class="vedtaegt-text">
                            <span class="text-primary">§</span> Vedtægt 10 - Beskrivelse af vedtægt 10
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    